# ==================== DISCORD ====================
DISCORD_BOT_TOKEN=MTQ3NzMwMzE4MjA5ODA0Mjk1MA.GPYgcQ.C-P794gonFjLgYbwRTf-wZK_fdDvtKI6pzWjTI
CLIENT_ID=1477303182098042950

# ==================== CFTools ====================
CFTOOLS_API_APPLICATION_ID=69ba997375cb13ab97a0ad34
CFTOOLS_API_SECRET=oVyz8qWOABrS3dzBIbACpf3WeKLaIFY--EmTEdx2bm8=

# ==================== SERVER CONFIG (wszystko z env) ====================
SERVER_NAME=Husaria
CFTOOLS_SERVER_API_ID=69ba997375cb13ab97a0ad34
SERVER_IP=147.93.162.60
SERVER_PORT=3702
WEBHOOK_CHANNEL_ID=1477302685542645991
WEBHOOK_USER_ID=1477302685542645991
KILL_FEED_CHANNEL_ID=1477302685542645991
AUTO_LB_CHANNEL_ID=1477302685542645991
WATCH_LIST_CHANNEL_ID=1477302685542645991
CHAT_FEED_CHANNEL_IDS=1477302685542645991

# ==================== PERMISSIONS ====================
BOT_OWNER_ID=76561197992396189
ADMIN_ROLE_IDS=76561197992396189
MODERATOR_ROLE_IDS=0,0
BOT_DEVELOPERS=76561197992396189

# ==================== API (OBOWIĄZKOWE NA RENDER) ====================
USE_API=true
PORT=3000

# ==================== OPCJONALNE ====================
NODE_ENV=production
PATH_TO_CHROME_EXECUTABLE=
DEBUG_ENABLED=false
REFRESH_SLASH_COMMAND_API_DATA=true
CLEAR_SLASH_COMMAND_API_DATA=false
TZ=Europe/Warsaw

# Chat feed tags (możesz zostawić puste jeśli nie używasz)
CHAT_FEED_DISCORD_TAGS_OWNER_ROLES=
CHAT_FEED_DISCORD_TAGS_ADMIN_ROLES=
